{% for type, messages in flash.getMessages %}

    {% if type == 'info' %}

        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}

    {% if type == 'error' %}

        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}

{% endfor %}
